<div class="Searchbar">

  <form ng-submit="vm.submitFunction()">
    <!-- 21+<input type="checkbox" ng-model="vm.SearchCont.age"> -->

    <select ng-model="vm.SearchCont.category">
      <option value="" disabled selected>Category</option>
      <option value="Date">Date Night</option>
      <option value="Friends">Friends</option>
      <option value="Family">Family</option>
      <option value="Alone">Alone</option>
    </select>
<!--
    <select ng-model="vm.SearchCont.price">
      <option value="" disabled selected>Price</option>
      <option value="$0-$25">$0-$25</option>
      <option value="$25-$50">$25-$50</option>
      <option value="$50-$100">$50-$100</option>
      <option value="$100+">$100+</option>
    </select> -->

    <button type="submit" class="button">Search</button>

  </form>


  <div class="row">
    <div class="small-12 columns">
      <center><h5>Search Results</h5></center>
      <table>
        <thead>
          <tr>
            <th>21+</th>
            <th>Price</th>
            <th>Category</th>
            <th>Summary</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody id="here">
          <!-- <tr ng-repeat="eachTask in vm.getTasks">
            <td>{{ eachTask.age ? 'Yes' : 'No' }}</td>
            <td>{{ eachTask.price }}</td>
            <td>{{ eachTask.category }}</td>
            <td>{{ eachTask.summary }}</td>
            <td>{{ vm.getTime(task.time) }}</td>
          </tr> -->
        </tbody>
      </table>
    </div>
  </div>
