<!--
<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet"> -->

<nav class="menu">
  <h1 class="name"><a ui-sref="home">The Night Out</a></h1>
  <ul class="inline-list hide-for-small-only account-action">
    <li><a href="#" data-reveal-id="myModal" ui-sref="login">Login</a></li>
    <li class=""><a class="signup" ui-sref="register" href="#" data-reveal-id="myModal">Signup</a></li>
  </ul>
  <!-- <a class="account hide-for-medium-up" data-reveal-id="myModal"><i class="fa fa-lock"></i></a> -->
</nav>
