.titleBar {
  width: 100vw;
  height: 7vh;
}
.titleBar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.titleBar ul li {
  display: inline;
}
.titleBar ul li a {
  text-decoration: none;
}
.homeImage h5 {
   z-index:100;
   color:white;
   font-size:1.3em;
   position:relative;
   text-align: center;
   top:100px; /* Have this my dynamically resizing*/
   width: 100%
 }

.homeImage img {
  position:absolute;
  left:0;
  top:55px; /* Have this my dynamically resizing*/
  width: 100vw;
  height: 93vh;
}
