<div class="row">
  <div class="medium-6 medium-centered large-4 large-centered columns">

    <form ng-submit="vm.register(vm.user)">
      <div class="row column log-in-form">
        <h4 class="text-center">Register</h4>
        <label>Email
          <input type="text" placeholder="somebody@example.com" ng-model="vm.user.email">
        </label>
        <label>Password
          <input type="password" placeholder="Password" ng-model="vm.user.password">
        </label>
        <!-- <input id="show-password" type="checkbox"><label for="show-password">Show password</label> -->
        <p><a type="submit" class="button expanded">Create an Account</a></p>
        <p class="text-center"><a href="#">Forgot your password?</a></p>
      </div>
    </form>

  </div>
</div>
