<form ng-submit="vm.addActivity(params)">
  <div class="row">
    <div class="small-12 small-centered columns">
      <div class="row">

        <div class="small-1 columns">
          21+<input type="checkbox" ng-model="params.age">
        </div>
        <div class="small-3 columns">
          <select ng-model="params.category">
            <option value="" disabled selected>Category</option>
            <option value="Date">Date Night</option>
            <option value="Friends">Friends</option>
            <option value="Family">Family</option>
            <option value="Alone">Alone</option>
          </select>
        </div>
        <div class="small-3 columns">
          <select ng-model="params.price">
            <option value="" disabled selected>Price</option>
            <option value="$0-$25">$0-$25</option>
            <option value="$25-$50">$25-$50</option>
            <option value="$50-$100">$50-$100</option>
            <option value="$100+">$100+</option>
          </select>
        </div>
        <div class="small-4 columns">
          <input type="text" ng-model="params.summary" placeholder="Summary">
        </div>
        <div class="small-1 columns">
          <button type="submit">Enter</button>
        </div>
      </div>
    </div>
  </div>
</form>


<div class="row">
  <div class="small-12 columns">
    <br>
    <center><h5>Ideas</h5></center>
    <table>
      <thead>
        <tr>
          <th>Age</th>
          <th>Price</th>
          <th>Category</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>Yes</td>
          <td>$20-$50</td>
          <td>Friends</td>
          <td>Canal</td>
          <!-- <td><button class="button">Remove</button></td> -->
        </tr>
      </tbody>
    </table>

  </div>
</div>
