<form ng-submit="vm.addActivity(params)">
  <input type="checkbox" ng-model="params.age">
  <select ng-model="params.category">
    <option value="" disabled selected>Category</option>
    <option value="Date">Date Night</option>
    <option value="Friends">Friends</option>
    <option value="Family">Family</option>
    <option value="Alone">Alone</option>
    <option value="Random">Random</option>
  </select>
  <select ng-model="params.age">
    <option value="" disabled selected>Price</option>
    <option value="$0-$25">$0-$25</option>
    <option value="$25-$50">$25-$50</option>
    <option value="$50-$100">$50-$100</option>
    <option value="$100+">$100+</option>
  </select>
  <input type="text" ng-model="params.summary">
  <button type="submit">Enter</button>
</form>


<div class="row">
  <div class="small-12 columns">
    <br>
    <center><h5>Ideas</h5></center>
    <table>
      <thead>
        <tr>
          <th>Age</th>
          <th>Price</th>
          <th>Category</th>
          <th>Summary</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>Yes</td>
          <td>$20-$50</td>
          <td>Friends</td>
          <td>Canal</td>
          <!-- <td><button class="button">Remove</button></td> -->
        </tr>
      </tbody>
    </table>

  </div>
</div>
