<div class="row">
    <div class="medium-6 medium-centered large-4 large-centered columns">

        <form ng-submit="authorForm.$valid && vm.submitFunction({user: vm.user})" name="authorForm" class="log-in-form" novalidate>
            <div class="row column" id="start">
                <h4 class="text-center" ng-bind="vm.formName"></h4>

                <!-- server Auth fails -->
                <div class="" ng-show="vm.error" ng-bind="vm.error"></div>

                <label>Email
                  <input type="email" required autofocus ng-model="vm.user.email" ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 750, 'blur': 0 } }" placeholder="somebody@example.com">
                </label>

                <!-- email errors -->
                <div class="" ng-show="authorForm.$submitted && authorForm.email.$error.required">
                    Email is blank
                </div>

                <div class="" ng-show="authorForm.$submitted && authorForm.email.$error.email">
                    Wrong format
                </div>

                <label>Password
                  <input type="password" placeholder="Password" ng-model="vm.user.password">
                </label>

                <div class="" ng-show="authorForm.$submitted && authorForm.password.$error.required">
                    Password is blank
                </div>

                <p><button type="submit" ng-bind="vm.formName" class="button expanded"></button></p>
        
                <p class="center" ng-hide="vm.page">{{ vm.message }}<a ui-sref="signIn"> Sign In</a></p>
                <p class="center" ng-show="vm.page">{{ vm.message }}<a ui-sref="createAccount"> Create Account</a></p>

            </div>
        </form>

    </div>
</div>
