<div class="row">
  <div class="small-12 columns">
    <center><h5>Ideas</h5></center>
    <table>
      <thead>
        <tr>
          <th>21+</th>
          <th>Price</th>
          <th>Category</th>
          <th>Summary</th>
          <!-- <th>Likes</th> -->
          <th>Time</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="task in vm.tasks.slice().reverse()">
          <td>{{ task.age ? 'Yes' : 'No' }}</td>
          <td>{{ task.price }}</td>
          <td>{{ task.category }}</td>
          <td>{{ task.summary }}</td>
          <!-- <td>{{  task.likes  }} <a ng-click="vm.addOne(task)">+1</a></td> -->
          <td>{{ vm.getTime(task.time) }}</td>
          <td>{{ task.rating }}</td>
          <td><a ng-click="vm.remove(task)"><i class="fa fa-remove"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
